<!DOCTYPE html>
<html>
<head>
  <title>Sample Rails app using react-rails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="content">
    <%= yield %>
  </div>

  <% unless params[:js] == "broken" %>
    <%= javascript_include_tag "application" %>
  <% end %>
</body>
</html>
